:root {
    --container:95%;
    --color-main:#0077A2;
    --color-secondary: #F2C000;
    --color-accent: #a55eea;
    --color-danger: #eb2f06;
    --color-warning: #eab308;
    --color-info:#4c75cf;
    --color-success:#22c55e;
    --width-nav:270px;
    }
    

.wrap{padding:4rem 0;background:#F1FBFF;min-height:100vh}
.wrap2 {padding: 0rem !important;min-height: 0vh !important;}
.smallwrap{max-width:750px!important;margin: 0 auto;}
.liveclock{padding: 4rem 2rem 2rem; display: flex; flex-direction: column; text-align: center; align-items: center; border-bottom-right-radius: 20px; border: 6px solid var(--color-main); border-bottom-left-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;}
.liveclock b{font-size:7rem;line-height:20px;color:#1a1a1a}.liveclock span{margin-top:4rem;font-size:25px;text-transform:uppercase}

.jumbotron{background:var(--color-main);padding:2rem;border-top-right-radius:10px;border-top-left-radius:10px;border-bottom-left-radius:10px;border-bottom-right-radius:20px}
.jumbotron h3{color:#fff}

.navigate{display:grid;grid-template-columns:repeat(3,1fr);width:100%;margin:0;list-style:none;padding:0;grid-gap: 2rem;}
.navigate a{padding:2rem;background:#fff;width:100%;display:flex;align-items:center;grid-gap:1rem;justify-content:center;font-size:20px;font-weight:700;border-radius:1rem;border:2px solid var(--color-secondary)}

.card-header.pb-0.text-start {background: transparent;}

/* Table */
.wrap .table thead{background:#F6E815;height:4rem}
.wrap .table{background-color:#fff;overflow:hidden;border-radius:1.2rem;color:#2F2F3B}
.wrap .table thead tr{vertical-align:middle;font-weight:700!important}
.table th {font-weight: 700;}
.table th, .table td {padding: 1.25rem 2rem; color: #2F2F3B !important;font-size: 1rem;}
.table thead tr th:last-child, .table tbody tr td:last-child {text-align: right;}


/* Button */
.btx{padding:.8rem 1.6rem;transition:all .3s ease-in-out;border-radius:6px}
.btx svg, .btx i {stroke: #fff;color: #fff;}
.btn-third{background:#000F5C;color:#fff;border:1px solid #000F5C}
.btn-third:hover {color: #cecece;}
.table thead tr th:last-child, .table tbody tr td:last-child {text-align: right;}
.btn-primary{border: 1px solid #EE1A21;}
.btn-primary:hover {color: #EE1A21;background: #FFE5E6;}
.btn-primary:hover i {color: #EE1A21;transition:all .3s ease-in-out}


/* TitlePage */
.titlepage{margin:2rem 0;display:flex;justify-content:space-between;align-items:center}
.titlepage h2{margin:0;font-size:28px!important;color:#282f44}
.title-right{display:flex;grid-gap:1rem;align-items:center}


/* Card */
.card{margin-bottom:30px;transition:all .3s ease;border-radius:15px;border:1px solid #CECECE}
.card-body{padding:30px;background-color:transparent}
.grid2{grid-template-columns:repeat(2,1fr)}.grid{display:grid;grid-gap:1.2rem}
.formgroup{margin-bottom:2rem}.formgroup label{text-align:left}
.form-label{font-size:16px;font-weight:600;margin-bottom:1rem}
.form-control{background:#F8F9FF;border:1px solid #CDCDCD}




@media (max-width:768px){
    .smallwrap{max-width: 93% !important;}
}