:root {
    --container:95%;
    --color-main:#0077A2;
    --color-secondary: #C5C5C5;
    --color-third: #DA3540;
    --color-prev: #000F5C;
    --color-accent: #a55eea;
    --color-danger: #eb2f06;
    --color-warning: #eab308;
    --color-info:#4c75cf;
    --color-success:#22c55e;
    --width-nav:270px;
    }
    
    .flex-center{align-items: center; display: flex;}

.wrap{padding:4rem 0;background:#F1FBFF;min-height:100vh}
.wrap2 {padding:2rem 0rem !important;min-height: 100vh !important;}
.smallwrap{max-width:750px!important;margin: 0 auto;}
.liveclock{padding: 3rem 2rem;   display: flex;   flex-direction: column;   text-align: center;   align-items: center;   border-bottom-right-radius: 20px;   border: 6px solid var(--color-main);   border-bottom-left-radius: 10px;   border-top-left-radius: 10px;   border-top-right-radius: 10px;}
.liveclock b{font-size: 5rem;color: #1a1a1a;line-height: 5rem;}.liveclock span{margin-top: 2rem;font-size: 25px;text-transform: uppercase;}

.jumbotron{background:var(--color-main);padding:2rem;border-top-right-radius:10px;border-top-left-radius:10px;border-bottom-left-radius:10px;border-bottom-right-radius:50px;display: flex; justify-content: space-between;height: 260px;  flex-direction: column;
}
.jumbotron h3{color:#fff;margin:0}
.jumbotron i::before{color:#000!important;font-size:24px}

.navigate{display: grid; grid-template-columns: repeat(3,1fr); width: 100%; list-style: none; padding: 0; grid-gap: 2rem; margin: 3rem 0;}
.navigate a{transition: all .2s ease-in-out;   padding: 2rem;   background: #fff;   width: 100%;   display: flex;   align-items: center;   grid-gap: 1rem;   justify-content: center;   font-size: 20px;   font-weight: 700;   border-radius: 1rem;   border: 2px solid var(--color-secondary);   box-shadow: 7px 8px 0px 0 rgba(197, 197, 197, 0.75);   -webkit-box-shadow: 7px 8px 0px 0 rgba(197, 197, 197, 0.75);   -moz-box-shadow: 7px 8px 0px 0 rgba(197, 197, 197, 0.75);}
.btx-bell{position: relative;padding: 12px 17px;   border-radius: 6px;   background: #fff;   display: flex;   align-items: center;}.btx-bell svg{stroke:var(--color-main);width:40px;height:40px}
.navigate a:hover{color: var(--color-main);border-color:var(--color-main);box-shadow:7px 8px 0 0 var(--color-main);-webkit-box-shadow:7px 8px 0 0 var(--color-main);-moz-box-shadow:7px 8px 0 0 var(--color-main)}
.btx-bell .badge{position:absolute;top:-10px;right:-11px;font-size:1rem;padding:8px 12px;border-radius:100%}
.failog{font-size: 14px;   padding: 10px;   background: rgb(255, 244, 241);   border: 1px solid var(--color-danger);   color: var(--color-danger);   border-radius: 10px;}
.formgroup_filter label{color: #fff;margin-bottom: 10px !important;}
.filter_form button{margin: 0;}
.filter {
	margin-bottom: 25px;
}

.formgroup_filter {
	width: 100%;
}
.fc-event{margin:5px 1rem!important}.fc-day-grid-event .fc-content{padding:10px!important}
.filter_form{display: grid;align-items: end;padding: 2rem;background: #0077a2;grid-auto-flow: column;grid-gap: 1rem;border-radius: 10px;}
.fc-day-number{font-size:1.8rem;padding:10px!important;right:10px!important;position:relative;font-weight:700;float:none!important;width:100%;text-align:center;display:inline-block;top:12px}
@media (max-width:992px){.jumbotron{margin-bottom:2rem;height: auto;}}
@media (max-width:768px){.navigate{grid-template-columns:repeat(2,1fr) !important ;grid-gap: 2rem 1.5rem !important;}}
@media (max-width:550px){.navigate li a{flex-direction: column; text-align: center; font-size: 16px; padding: 1rem;}}

.card-header.pb-0.text-start {background: transparent;}
.left-text {text-align: left;}
.helptext{font-size:15px;line-height:2}.m-l-20{margin-left:20px!important}
.w25{width: 25%; margin: 0;}.w70{width: 70%; margin: 0;}
.cuti .modal-body p{word-break: break-all; white-space: break-spaces;margin: 0;}
b.red {color: var(--color-third);}


/* Table */
.wrap .table thead{background:var(--color-main);height:4rem}
.wrap .table{background-color:#fff;overflow:hidden;border-radius:1.2rem;color:#2F2F3B}
.wrap .table thead tr{vertical-align:middle;font-weight:700!important}
.table th {font-weight: 700;}
.table th, .table td {padding: 0.75rem 1.5rem; color: #2F2F3B !important;font-size: 1rem;vertical-align: middle;}
.table thead tr th:last-child, .table tbody tr td:last-child {text-align: right;}

.fc-view-container{background: #fff;}


/* Button */
.btx{padding:.8rem 1.6rem;transition:all .3s ease-in-out;border-radius:6px}
.btx svg, .btx i {stroke: #fff;color: #fff;}
.btn-main {border: 1px solid var(--color-main); background: var(--color-main); color:#fff;}
.btn-main:hover{color:var(--color-main);background:#D8F0F9}
.btn-primary{border: 1px solid #EE1A21;}
.btn-third{background:var(--color-third);color:#fff;border:1px solid var(--color-third)}
.btn-third:hover {color: #cecece;}
.btn-third:hover {color: var(--color-third);background: #FFE5E6;}
.btn-third:hover i {color: var(--color-third);transition:all .3s ease-in-out}
.btn-prev{background:var(--color-prev);color:#fff;border:1px solid var(--color-prev)}
.btn-prev:hover{background:#dde2ff;color:var(--color-prev)}
.btn-prev:hover i {color: var(--color-prev);transition:all .3s ease-in-out}
.btn-submit{margin:0;background: var(--color-main) !important; padding: 0.7rem 2rem; font-weight: 600; font-size: 16px; border: 1px solid var(--color-main) !important; color: #fff;}
.btn-submit:hover{background: transparent !important}
.btn-warning{background:var(--color-warning) !important;border:1px solid var(--color-warning) !important}.btn-warning:hover{background:#f5e1a2 !important;border:1px solid var(--color-warning) !important}

@media (max-width:420px){.btx {padding: 0.5rem 0.8rem;}}

/* Badge */
.badge-success{background:#28a745;border-radius:5px;padding:4px 8px;inline-size:min-content;margin:auto 0;color:#fff}
.badge-danger{background:var(--color-danger);border-radius:5px;padding:4px 8px;inline-size:min-content;margin:auto 0;color:#fff}
.badge-primary{background:#007bff;border-radius:5px;padding:4px 8px;inline-size:min-content;margin:auto 0;color:#fff}

/* TitlePage */
.titlepage{margin: 0 0 2rem; display: flex; justify-content: space-between; align-items: center;}
.titlepage h2{margin:0;font-size:28px!important;color:#282f44}
.title-right{display:flex;grid-gap:1rem;align-items:center}


/* Card */
.card{margin-bottom:30px;transition:all .3s ease;border-radius:15px;border:1px solid #CECECE}
.card-body{padding:30px;background-color:transparent}
.grid3{grid-template-columns:repeat(3,1fr)}.grid2{grid-template-columns:repeat(2,1fr)}.grid{display:grid;grid-gap:1.2rem}
.formgroup label{margin-bottom: 10px !important;text-align:left}form .grid{  margin-bottom: 1.5rem;}
.form-label{font-size:16px;font-weight:600;margin-bottom:10px}
.form-control {background: #F8F9FF;border: 1px solid #CDCDCD;padding: 0.7rem 0.75rem !important;}
.cuti .modal-footer {justify-content: space-between !important; border-top: 1px solid #dee2e6;font-size: 14px;}

.select2-selection.select2-selection--single{height:40px!important}.select2-container .select2-selection--single .select2-selection__rendered{padding-left:14px!important;padding-top:5px!important}.select2-container--default .select2-selection--single .select2-selection__arrow{height:40px!important}
.select2-container--default .select2-results__option--highlighted[aria-selected]{background-color:#DA3540 !important;color:#fff}
.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback){border-left:1px solid #CDCDCD!important;border-right:1px solid #CDCDCD!important}

.formlogin{max-width: 400px; margin: 0 auto; text-align: center;}.formlogin img{width: 250px; margin-bottom: 1.5rem;}
.withcheckin label{font-size:1rem;margin:0;display:flex;align-items:center;grid-gap:10px}.withcheckin input{width:20px;height:20px}.withcheckin{display:flex;align-items:center;grid-gap:10px}
.navigate a img{width: 3rem;}.withcheckin label span{font-weight:400;font-size:11px;color:var(--color-danger)}
.fc-content{display:flex;justify-content:center;padding:1rem}.fc-content span{font-size:1.6rem!important}
.item_jum{display: flex; justify-content: space-between; align-items: center;}
.welcome{display:flex;flex-direction:column;grid-gap:10px}.subtitle{color:rgba(255, 255, 255, 0.84);display:flex;align-items:center;grid-gap:5px; margin-bottom: 1rem;}
.btn-secondary:hover{background: var(--color-main);}
.notcheck{color: #fff;display:flex;align-items:center;grid-gap:1rem;border-top:1px solid rgba(255,255,255,0.37);padding-top:1rem}.notcheck span{color:#fff}
.absen-danger{background:var(--color-third);width:fit-content;padding:8px 20px !important;border-radius:5px}
.absen-success{background:var(--color-success);width:fit-content;padding:8px 20px!important;border-radius:5px;margin-top:1rem!important}
.btx-check{background:#fff;color:var(--color-main);display:flex;align-items:center;grid-gap:10px;padding:7px 14px!important;border-radius:5px;border:0;stroke:var(--color-main)}
.fc-toolbar h2{font-size: 28px !important;}
.fc-toolbar{margin: 2rem 0 2.5rem !important;align-items:center;display:flex;justify-content:space-between}
.fc-toolbar .fc-center,.fc-toolbar .fc-clear{display:none !important}
@media (max-width:768px){
    .smallwrap{max-width: 93% !important;}
    .wrap .table{margin:auto;border-collapse:collapse;overflow-x:auto;display:block;width:fit-content;max-width:100%}
}
@media (max-width:550px){
    .liveclock{padding: 3rem 1rem;}
    .subtitle{font-size:14px;align-items:inherit;margin:10px 0}
.notcheck{flex-direction:column;align-items:baseline}
.notcheck span{font-size:14px!important}
    .fc-right h2{font-size:16px !important}
    .filter_form{grid-auto-flow:unset;grid-gap:10px}
.filter_form button{margin-top:10px}
.titlepage h2{font-size: 24px !important;}
    .fc-day-grid-event{margin: 3px !important;}
    .fc-day-number{font-size: 1rem;}.fc-scroller{height: 24rem !important;overflow: auto !important;}.fc-content span{font-size: 10px !important;}
    .jumbotron h3{font-size:20px}.btx-bell{padding:8px 16px}.btx-bell svg{width:30px}
    .titlepage{grid-gap:1rem;margin-bottom:1.5rem}.container{padding:0 15px}
    .item_jum{flex-direction: column-reverse; justify-content: flex-start; align-items: baseline; grid-gap: 1rem;}
    .smallwrap{max-width: 100% !important;}
    .helptext{margin-left: 0 !important;}
    .liveclock b{font-size: 4rem;}.liveclock span{margin-top: 1rem;font-size: 20px;}
.grid {grid-template-columns: repeat(1,1fr) !important;}
.inline {display: inline-block;}
}
